
@model Model.Entities.User



<fieldset>
	<legend>@Yevhenii_KoliesnikTask1.App_LocalResources.GlobalRes.Detail</legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Login)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Login)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
	@if(Model.UserRoles!= null && Model.UserRoles.Count > 0)
 {
    <div class="display-label">
        Roles
    </div>
	 foreach(var r in Model.UserRoles)
	 {
    <div class="display-field">
        @Html.DisplayFor(model => r.NameRole)
    </div>
	}
 }
</fieldset>
<p>
    @Html.ActionLink(Yevhenii_KoliesnikTask1.App_LocalResources.GlobalRes.Edit, "UpdateUser", new { userId=Model.Id }) |
    @Html.ActionLink(@Yevhenii_KoliesnikTask1.App_LocalResources.GlobalRes.BackToList, "AuthUsers", "Admin", null, null)
</p>
