@model Model.Entities.Genre

@{
    ViewBag.Title = "Details";
}

<h2>@Yevhenii_KoliesnikTask1.App_LocalResources.GlobalRes.Detail</h2>

<fieldset>
    <legend>@Yevhenii_KoliesnikTask1.App_LocalResources.GlobalRes.Genre</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
   
    @Html.ActionLink(Yevhenii_KoliesnikTask1.App_LocalResources.GlobalRes.BackToList, "Index")
</p>
