@model BusinessLogicLayer.ViewModel.LoginView
@{
 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Yevhenii_KoliesnikTask1.App_LocalResources.GlobalRes.Login</h2>

<div class="col-lg-6 col-lg-offset-3">
    <div class="well bs-component">
        @using (Html.BeginForm("Login", "Autentification", FormMethod.Post, new { @class = "form-horizontal" }))
        {
 @Html.AntiForgeryToken()

            <fieldset>
                <legend></legend>
                <div class="form-group">
                    @Html.LabelFor(q => q.Name, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.EditorFor(q => q.Name, new { @class = "form-control", placeholder = @Yevhenii_KoliesnikTask1.App_LocalResources.GlobalRes.Login })
                    </div>
                    @Html.ValidationMessageFor(q => q.Name)
                </div>
                <div class="form-group">

                    @Html.LabelFor(q => q.Password, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.EditorFor(q => q.Password, new { @class = "form-control", placeholder = @Yevhenii_KoliesnikTask1.App_LocalResources.GlobalRes.Password })
                        @Html.ValidationMessageFor(x => x.Password, null, new { @class = "help-inline" })
                    </div>
                </div>
            </fieldset>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="@Yevhenii_KoliesnikTask1.App_LocalResources.GlobalRes.Login" />
                    <span class="pull-right">@Html.ActionLink(@Yevhenii_KoliesnikTask1.App_LocalResources.GlobalRes.Registers, "Autentification", "Register")</span>
                </div>
            </div>
        }
    </div>
</div>


























